 @{
   ViewBag.Title = "Feed";
}

<style>
    body {
        background-color: #efefef; /* Culoare fundal similară cu Pinterest */
    }

    h2 {
        color: #BD0071; /* Culoare roșie pentru titluri similară cu Pinterest */
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 5px;
    }

    .card {
        background-color: white; /* Fundal alb pentru cărți */
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

        .card:hover {
            transform: scale(1.02); /* Efect la hover pentru cărți */
        }

    .card-body {
        padding: 0; /* Elimină paddingul implicit pentru un control mai bun */
    }

    .bi {
        color: #BD0071; /* Culoare roșie pentru icon */
    }

    .btn-success:hover {
        background-color: #BD0071; /* Nuanță mai închisă pentru efectul la hover */
        border-color: #BD0071;
    }

    .card-content {
        border-radius: 10px; /* Colțuri rotunjite pentru conținut */
        overflow: hidden; /* Ascunde overflow-ul pentru a asigura că marginile sunt rotunjite */
    }

    .card-img {
        width: 100%; /* Asigură că imaginea ocupă întreaga lățime a cărții */
        height: 10%; /* Înălțime controlată pentru imagine */
    }

    .card-body {
        display: flex;
        flex-direction: column;
    }

    .title-column {
        flex-grow: 1;
    }

    .like-column, .nrlike-column {
        flex-shrink: 0;
        margin-left: 10px;
    }

    .card-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .btn-like {
        background-color: #ED3B9D;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
        padding: 5px 10px;
    }

    .like-count {
        color: #ED3B9D;
        padding-left: 10px;
    }

    .categ {
        color: #ED3B9D;
        padding: 10px;
    }

    .search-input-group {
        display: flex;
        width: 100%;
    }

    .search-button {
        background-color: #BD0071;
        color: white;
        border: 1px solid #BD0071;
        border-radius: 5px;
        margin-left: 10px;
        padding: 5px 10px;
    }

    .search-button:hover {
        background-color: #ED3B9D;
        border-color: #ED3B9D;
    }

    .sort-select {
        margin-top: 10px;
        background-color: #BD0071;
        color: white;
        border: 1px solid #BD0071;
        border-radius: 5px;
        padding: 5px 10px;
    }

    .sort-select:hover {
        background-color: #ED3B9D;
        border-color: #ED3B9D;
    }

    .sort-select-group {
        display: flex;
        align-items: center;
    }

    .sort-select-group select {
        margin-right: 10px;
    }


</style>

<div class="search-sort-container">
    <form method="GET" class="w-100">
        <div class="search-input-group">
            <input type="text" class="form-control" placeholder="Search posts by title, description or keywords" name="search" value="@ViewBag.SearchString">
            <button class="btn search-button" type="submit">
                Search
            </button>
        </div>
        <div class="sort-select-group">
            <select class="form-select sort-select" aria-label="Sort posts" name="sortOrder">
                <option value="">Sort by:</option>
                <option value="likesAsc">Least liked</option>
                <option value="likesDesc">Most liked</option>
            </select>
            <button class="btn search-button" type="submit">Sort  </button>
        </div>
    </form> 
</div>

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<div class="text-center">
    <br />
    <a class="btn btn-outline-success" href="/Posts/New">Add new post</a>
    <br />
    <br />
    <div class="row"> 
        @foreach (PinterestApplication.Models.Post post in ViewBag.Posts)
        {
            <div class="col-3 mb-4">
                <div class="card" style="width:100%">
                    <div class="card-container">
                        <div class="card-body">
                            @Html.Partial("PostInfo", post)
                            <div class="card-footer">
                                <form method="post" asp-action="AddLike" asp-route-id="@post.Id" class="like-form">
                                    <button type="submit" class="btn-like">
                                        <i class="bi bi-heart" style="color:white"></i>
                                    </button>
                                    <span class="like-count">
                                        @if (post.Likes != null)
                                        {
                                            @post.Likes.Count()
                                        }
                                        else
                                        {
                                            <p>0</p>
                                        }
                                    </span>
                                </form>
                                <div class="categ">
                                    <i class="bi bi-globe"></i> @post.Category.Name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="/Posts/Index?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i <= ViewBag.lastPage; i++)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Posts/Index?page=@i">@(i)</a>
                    </li>
                }
                <li class="page-item">
                    <a class="page-link" href="/Posts/Index?page=@(ViewBag.lastPage)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
 